@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.filmDisplay {
  display: flex;
  flex-direction: column;
}

.filmImage {
  object-fit: cover;
  height: 100vh;
}

.filmInformation {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Rambla", sans-serif;
  top: 440px;
  color: #ffffff;
  margin-left: 20px;
}

.pageFilmTitle {
  color: #ffffff;
  font-size: 100px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  transition: 2s ease;
  text-shadow: 2px 2px 5px #000000;
}

.pageFilmStyle {
  color: #b171d9;
  font-size: 48px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #000000;
}

.pageFilmDate {
  font-size: 28px;
  margin-right: 20px;
  font-weight: 800;
  text-shadow: 1px 1px 2px #000000;
}

.pageFilmDuration {
  font-size: 20px;
  text-shadow: 1px 1px 2px #000000;
}

.moreInfo {
  width: 300px;
}

.pageFilmDescription {
  max-width: 600px;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000000;
}

.arrowLeft {
  width: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.starContainer {
  display: flex;
  justify-content: flex-start;
  /* height: 30px; */
}

.styleRate {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.externalLink {
  width: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
}

.castingTitle {
  margin-top: 50px;
  font-family: "Rambla", sans-serif;
  font-weight: 800;
}

@media (max-width: 1150px) {
  .pageFilmTitle {
    font-size: 60px;
  }

  .castingTitle {
    margin-top: 110px;
  }
  .pageFilmStyle {
    font-size: 35px;
  }

  .filmInformation {
    top: 470px;
  }
}

@media (max-width: 400px) {
  .filmInformation {
    top: 350px;
  }
  .castingTitle {
    margin-top: 130px;
  }
}
