@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.filmDisplay {
  display: flex;
  flex-direction: column;
}

.filmImage {
  object-fit: cover;
  height: 100vh;
}

.filmInformation {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Rambla", sans-serif;
  top: 500px;
  color: #ffffff;
  margin-left: 20px;
}

.pageFilmTitle {
  color: #ffffff;
  font-size: 140px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  transition: 2s ease;
}

.pageFilmStyle {
  color: #b171d9;
  font-size: 48px;
  font-weight: 800;
}

.pageFilmDate {
  font-size: 28px;
  margin-right: 20px;
  font-weight: 800;
}

.pageFilmDuration {
  font-size: 20px;
}

.moreInfo {
  width: 300px;
}

.pageFilmDescription {
  max-width: 600px;
  width: 100%;
  margin-top: 10px;
}

.arrowLeft {
  width: 40px;
  position: absolute;
  top: 25px;
  left: 25px;
}

.starContainer {
  display: flex;
  /* justify-content: flex-start; */
  /* height: 30px; */
}

.styleRate {
  display: flex;
  flex-direction: row;
  align-content: center;
}
