@import url("https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.containerCasting {
  margin: 60px 10px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* background: red; */
}

@media (max-width: 1250px) {
  .containerCasting {
    position: absolute;
    top: 950px;
  }
}
@media (max-width: 650px) {
  .containerCasting {
    margin: 0px 10px;
  }
}

@media (max-width: 450px) {
  .containerCasting {
    position: absolute;
    top: 1000px;
  }
}
