/****** RESET BUTTON CSS *******/

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.header {
  width: 100%;
  /* height: 180px; */
  /* background: rgba(220, 20, 60, 0.05); */
  /* background: #ffffff; */
  background: #09090b;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.headerContainer {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 150px;
  margin-top: 20px;
  /* padding: 20px 20px 0; */
  box-sizing: border-box;

  /* border-bottom: 2px solid #ffffff; */
  /* justify-content: center; */
}

.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
  margin-top: 25px;
  margin-left: 50px;
  /* transition: 2s ease; */
}

.iconLoupe {
  width: 20px;
  margin-right: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  height: 70px;
}

.headerTabs {
  color: #ffffff;
  /* margin: 50px; */
}

.tabs {
  color: #ffffff;
}

.choseType {
  width: 100%;
  height: auto;
  /* background: red; */
  display: flex;
  justify-content: center;
}

.elementType {
  width: 80%;
  /* background: blue; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.element:hover {
  background: #b171d98c;
}

.element {
  width: auto;
  padding: 5px 10px;
  height: 40px;
  background: #5153574b;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;
}

.select {
  background: #b171d98c;
}

@media (max-width: 650px) {
  .logo {
    margin: 10px;
  }
  .logoImg {
    display: flex;
  }
  .headerContainer {
    flex-direction: row;
  }

  .element {
    height: 30px;
    font-size: 10px;
  }
  .inputContainer {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    /* margin-top: 60px; */
  }

  .headerContainer {
    justify-content: center;
  }

  .logo {
    margin-top: 0;
    height: 55%;
    display: flex;
  }
}
