.footerContainer{
    overflow-x: hidden;
    background-color: #302A4C;
    width:100%;
    height: 100px;
    text-align: center;
}
.footerText{
    padding-top:25px;
    color: #fff;
    font-size:15px;
}
@media only screen and (min-width: 768px) {
    .footerText{
        font-size: 13px;
    }
}
@media only screen and (min-width: 600px) {
    .footerText{
        font-size: 12px;
    }
}
@media only screen and (max-width: 600px) {
    .footerContainer{
        height: 70px;
    }
    .footerText{
        font-size: 10px;
        
    }
}